@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255% 255%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --primary-blue: 210, 77%, 65%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --bordinput: 222 21% 9%;

    --radius: 0.5rem;
    --button: 2, 95, 253, 1;

    --increase: 108, 235, 99;
    --decrease: 235, 99, 99;
  }

  .dark {
    --background: 20, 21, 24, 1;
    --background-light: 27, 28, 33, 1;
    --background-lighter: 255, 255, 255, 0.02;

    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 27, 28, 33, 1;
    --popover-foreground: 0 0% 98%;

    --button: 250, 250, 250, 1;
    --button-hover: 250, 250, 250, 0.7;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --primary-blue: 210, 77%, 65%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 222 21% 7%;
    --bordinput: 222 30% 30%;
    --increase: 108, 235, 99;
    --decrease: 235, 99, 99;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .anim {
    @apply duration-300 transition-all;
  }

  .scrollbar::-webkit-scrollbar {
    width: 7px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    display: none;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.04);
    border-radius: 50px;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.08);
  }

  .card {
    @apply border-accent w-full bg-background-light border-1.5 p-4 rounded-md overflow-hidden;
  }
}

.glow {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-decoration: none;
  text-decoration: none;
  background: linear-gradient(
    88.93deg,
    rgb(234, 234, 234) 0.76%,
    rgb(192, 38, 211) 14.6%,
    rgb(99, 167, 235) 87.89%,
    rgb(10, 10, 10) 99.17%
  );
  -webkit-filter: blur(120px);
  filter: blur(120px);
}

:root {
  --increase: rgb(108, 235, 99);
  --decrease: rgb(235, 99, 99);
  --base: linear-gradient(
    88.93deg,
    rgb(234, 234, 234) 0.76%,
    rgb(192, 38, 211) 14.6%,
    rgb(99, 167, 235) 87.89%,
    rgb(10, 10, 10) 99.17%
  );
  --glow_width: 25%;
  --glow_height: 30%;
  --card_blur: blur(50px);
}
.base::after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: var(--base);
  height: var(--glow_height);
  width: var(--glow_width);
  filter: var(--card_blur);
  -webkit-filter: var(--card_blur);
}
.decrease::after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: var(--decrease);
  width: var(--glow_width);
  height: var(--glow_height);
  filter: var(--card_blur);
  -webkit-filter: var(--card_blur);
}
.increase::after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: var(--increase);
  width: var(--glow_width);
  height: var(--glow_height);
  filter: var(--card_blur);
  -webkit-filter: var(--card_blur);
}

.sidebar_profile_glow::before {
  position: absolute;
  content: "";
  top: -50%;
  right: 0;
  z-index: -10;
  width: 100%;
  height: 50%;
  background: linear-gradient(
    88.93deg,
    rgb(234, 234, 234) 0.76%,
    rgb(192, 38, 211) 14.6%,
    rgb(99, 167, 235) 87.89%,
    rgb(10, 10, 10) 99.17%
  );
  -webkit-filter: blur(120px);
  filter: blur(120px);
  overflow: hidden;
}
.darken_overlay::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: -10;
  width: 100%;
  height: 100%;
  background: rgba(27, 28, 33, 0.5);
  overflow: hidden;
  backdrop-filter: blur(3px);
}
